{% extends 'base.html' %}
{% load static %}

{% block title %}Em Desenvolvimento{% endblock %}

{% block content %}
<main>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 30vh;">
        <h1>EM DESENVOLVIMENTO</h1>
        <h3>Essas funcoes serao adicionadas na versao final</h3>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'media/logo-lateral.png'%}">
    </div>
</main>
{% endblock %}
